<footer class="text-center">
    <div class="container    ">
       <div class="row">
           <div class="links m-auto">
            <a href="#">Aplicacions</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privecy Policy</a>
            <a href="#">what's New</a>
            <a href="#">Corporate Social Responsibility </a>
            <a href="#">Your Option for Information Exchange</a>
           </div>
       </div>
       <div class="social">
        <i class="fab fa-facebook-f"><a href="https://www.facebook.com/profile.php?id=100013751952883"></a></i>
        <i class="fab fa-youtube"><a href="#"></a></i>
        <i class="fab fa-instagram"><a href="https://www.instagram.com/ahmedmagdy9728/"></a></i>
        <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/ahmed-magdy-062a2b212/"></a></i>
       </div>
       <div class="text mt-3">
           <p>Trade mark and copy right notice. <span class="ml-2"> @2021 and itsrelated entites. All rights reserved</span></p>
           <p>Using the content for this website means that you agreed with Terms of use and Privecy Policy</p>
       </div>
        <a class="" href="https://www.facebook.com/profile.php?id=100013751952883">powerd by @Ahmed Magdy <i class="fas fa-smile-wink"></i></a>
      
    </div>

</footer>